body{
    background-color:rgb(159, 114, 200);
    font: normal 16pt Arial;
}
header{
    color: azure;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.442);

}
div{

}
footer{
    font-size: 14px;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
}